<form action="/rezultat_chestionar" method="POST">
<div>
    <h3><%=intrebari[0].intrebare%></h3>
    <input type="checkbox" name="int1v1">
    <label><%=intrebari[0].variante[0]%></label><br>
    <input type="checkbox" name="int1v2">
    <label><%=intrebari[0].variante[1]%></label><br>
    <input type="checkbox" name="int1v3">
    <label><%=intrebari[0].variante[2]%></label><br>
    <input type="checkbox" name="int1v4">
    <label><%=intrebari[0].variante[3]%></label>
</div>

<div>
    <h3><%=intrebari[1].intrebare%></h3>
    <input type="checkbox" name="int2v1">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" name="int2v2">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" name="int2v3">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" name="int2v4">
    <label><%=intrebari[1].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[2].intrebare%></h3>
    <input type="text" name="rasint3"><br>
</div>

<div>
    <h3><%=intrebari[3].intrebare%></h3>
    <input type="checkbox" name="int4A">
    <label>Adevarat</label><br>
    <input type="checkbox" name="int4F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[4].intrebare%></h3>
    <input type="checkbox" name="int5v1">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" name="int5v2">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" name="int5v3">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" name="int5v4">
    <label><%=intrebari[4].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[5].intrebare%></h3>
    <input type="checkbox" name="int6v1">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" name="int6v2">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" name="int6v3">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" name="int6v4">
    <label><%=intrebari[5].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[6].intrebare%></h3>
    <input type="checkbox" name="int7v1">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" name="int7v2">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" name="int7v3">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" name="int7v4">
    <label><%=intrebari[6].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[7].intrebare%></h3>
    <input type="checkbox" name="int8A">
    <label>Adevarat</label><br>
    <input type="checkbox" name="int8F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[8].intrebare%></h3>
    <input type="checkbox" name="int9A">
    <label>Adevarat</label><br>
    <input type="checkbox" name="int9F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[9].intrebare%></h3>
    <input type="checkbox" name="int10A">
    <label>Adevarat</label><br>
    <input type="checkbox" name="int10F">
    <label>Fals</label>
</div>

<button type="submit">Submit</button>
</form>