<h1>Rezultat chestionar: <%=punctaj%>/10</h1>

<form action="/index" method="GET">

<div>
    <h3><%=intrebari[0].intrebare%></h3>
    <%if(corecte.int1v1=="on") { %>
    <input type="checkbox" checked disabled>
    <% } else { %>
    <input type="checkbox"disabled>
    <% } %>
    <label><%=intrebari[0].variante[0]%></label><br>
    <%if(corecte.int1v2=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[0].variante[1]%></label><br>
    <%if(corecte.int1v3=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect"><%=intrebari[0].variante[2]%></label><br>
    <%if(corecte.int1v4=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[0].variante[3]%></label>
</div>

<div>
    <h3><%=intrebari[1].intrebare%></h3>
    <%if(corecte.int2v1=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[1].variante[0]%></label><br>
    <%if(corecte.int2v2=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect"><%=intrebari[1].variante[0]%></label><br>
    <%if(corecte.int2v3=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[1].variante[0]%></label><br>
    <%if(corecte.int2v4=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[1].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[2].intrebare%></h3>
    Răspun corect: <label class="corect">Aftershave </label><br>
</div>

<div>
    <h3><%=intrebari[3].intrebare%></h3>
    <%if(corecte.int4A=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label>Adevarat</label><br>
    <%if(corecte.int4F=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect">Fals</label>
</div>

<div>
    <h3><%=intrebari[4].intrebare%></h3>
    <%if(corecte.int5v1=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[4].variante[0]%></label><br>
    <%if(corecte.int5v2=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[4].variante[0]%></label><br>
    <%if(corecte.int5v3=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[4].variante[0]%></label><br>
    <%if(corecte.int5v4=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect"><%=intrebari[4].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[5].intrebare%></h3>
    <%if(corecte.int6v1=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[5].variante[0]%></label><br>
    <%if(corecte.int6v2=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[5].variante[0]%></label><br>
    <%if(corecte.int6v3=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect"><%=intrebari[5].variante[0]%></label><br>
    <%if(corecte.int6v4=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[5].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[6].intrebare%></h3>
    <%if(corecte.int7v1=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect"><%=intrebari[6].variante[0]%></label><br>
    <%if(corecte.int7v2=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[6].variante[0]%></label><br>
    <%if(corecte.int7v3=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[6].variante[0]%></label><br>
    <%if(corecte.int7v4=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label><%=intrebari[6].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[7].intrebare%></h3>
    <%if(corecte.int8A=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect">Adevarat</label><br>
    <%if(corecte.int8F=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[8].intrebare%></h3>
    <%if(corecte.int9A=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label>Adevarat</label><br>
    <%if(corecte.int9F=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect">Fals</label>
</div>

<div>
    <h3><%=intrebari[9].intrebare%></h3>
    <%if(corecte.int10A=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label class="corect">Adevarat</label><br>
    <%if(corecte.int10F=="on") { %>
        <input type="checkbox" checked disabled>
        <% } else { %>
        <input type="checkbox"disabled>
        <% } %>
    <label>Fals</label>
</div>

 <button type="submit">Acasa</button>
</form>