<form action="/index" method="GET">

<div>
    <h3><%=intrebari[0].intrebare%></h3>
    <input type="radio" id="Int1v1">
    <label><%=intrebari[0].variante[0]%></label><br>
    <input type="radio" id="Int1v2">
    <label><%=intrebari[0].variante[1]%></label><br>
    <input type="radio" id="Int1v3">
    <label><%=intrebari[0].variante[2]%></label><br>
    <input type="radio" id="Int1v4">
    <label><%=intrebari[0].variante[3]%></label>
</div>

<div>
    <h3><%=intrebari[1].intrebare%></h3>
    <input type="radio" id="Int2v1">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="radio" id="Int2v2">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="radio" id="Int2v3">
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="radio" id="Int2v4">
    <label><%=intrebari[1].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[2].intrebare%></h3>
    <h4></h4>
    <input type="text" id="rasInt3"><br>
</div>

<div>
    <h3><%=intrebari[3].intrebare%></h3>
    <input type="radio" id="Int4A">
    <label>Adevarat</label><br>
    <input type="radio" id="Int4F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[4].intrebare%></h3>
    <input type="checkbox" id="Int5v1">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v2">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v3">
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v4">
    <label><%=intrebari[4].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[5].intrebare%></h3>
    <input type="checkbox" id="Int6v1">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v2">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v3">
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v4">
    <label><%=intrebari[5].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[6].intrebare%></h3>
    <input type="checkbox" id="Int7v1">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v2">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v3">
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v4">
    <label><%=intrebari[6].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[7].intrebare%></h3>
    <input type="radio" id="Int8A">
    <label>Adevarat</label><br>
    <input type="radio" id="Int8F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[8].intrebare%></h3>
    <input type="radio" id="Int9A">
    <label>Adevarat</label><br>
    <input type="radio" id="Int9F">
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[9].intrebare%></h3>
    <input type="radio" id="Int10A">
    <label>Adevarat</label><br>
    <input type="radio" id="Int10F">
    <label>Fals</label>
</div>

 <button type="submit">Acasa</button>
</form>