<h1>Rezultat chestionar: <%=punctaj%>/10</h1>

<form action="/index" method="GET">

<div>
    <h3><%=intrebari[0].intrebare%></h3>
    <input type="checkbox" id="Int1v1"disabled>
    <label><%=intrebari[0].variante[0]%></label><br>
    <input type="checkbox" id="Int1v2"disabled>
    <label><%=intrebari[0].variante[1]%></label><br>
    <input type="checkbox" id="Int1v3" disabled>
    <label class="corect"><%=intrebari[0].variante[2]%></label><br>
    <input type="checkbox" id="Int1v4"disabled>
    <label><%=intrebari[0].variante[3]%></label>
</div>

<div>
    <h3><%=intrebari[1].intrebare%></h3>
    <input type="checkbox" id="Int2v1"disabled>
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" id="Int2v2"disabled>
    <label class="corect"><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" id="Int2v3"disabled>
    <label><%=intrebari[1].variante[0]%></label><br>
    <input type="checkbox" id="Int2v4"disabled>
    <label><%=intrebari[1].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[2].intrebare%></h3>
    <h4></h4>
    <input type="text" id="rasInt3"disabled> Răspun corect: <label class="corect">Aftershave </label><br>
</div>

<div>
    <h3><%=intrebari[3].intrebare%></h3>
    <input type="checkbox" id="Int4A"disabled>
    <label>Adevarat</label><br>
    <input type="checkbox" id="Int4F" disabled>
    <label class="corect">Fals</label>
</div>

<div>
    <h3><%=intrebari[4].intrebare%></h3>
    <input type="checkbox" id="Int5v1"disabled>
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v2"disabled>
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v3"disabled>
    <label><%=intrebari[4].variante[0]%></label><br>
    <input type="checkbox" id="Int5v4"disabled>
    <label class="corect"><%=intrebari[4].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[5].intrebare%></h3>
    <input type="checkbox" id="Int6v1"disabled>
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v2"disabled>
    <label><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v3"disabled>
    <label class="corect"><%=intrebari[5].variante[0]%></label><br>
    <input type="checkbox" id="Int6v4"disabled>
    <label><%=intrebari[5].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[6].intrebare%></h3>
    <input type="checkbox" id="Int7v1"disabled>
    <label class="corect"><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v2"disabled>
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v3"disabled>
    <label><%=intrebari[6].variante[0]%></label><br>
    <input type="checkbox" id="Int7v4"disabled>
    <label><%=intrebari[6].variante[0]%></label>
</div>

<div>
    <h3><%=intrebari[7].intrebare%></h3>
    <input type="checkbox" id="Int8A"disabled>
    <label class="corect">Adevarat</label><br>
    <input type="checkbox" id="Int8F"disabled>
    <label>Fals</label>
</div>

<div>
    <h3><%=intrebari[8].intrebare%></h3>
    <input type="checkbox" id="Int9A"disabled>
    <label>Adevarat</label><br>
    <input type="checkbox" id="Int9F"disabled>
    <label class="corect">Fals</label>
</div>

<div>
    <h3><%=intrebari[9].intrebare%></h3>
    <input type="checkbox" id="Int10A"disabled>
    <label class="corect">Adevarat</label><br>
    <input type="checkbox" id="Int10F"disabled>
    <label>Fals</label>
</div>

 <button type="submit">Acasa</button>
</form>